
.ui-container
    margin-right auto
    margin-left auto
    padding-left 15px
    padding-right 15px
    
    &:after
    &:before
        content " "
        display table

    &:after
        clear both

    @media (min-width: 768px)
        width 750px


    
.ui-panel
    padding 15px
    margin-bottom 20px
    border-radius 0
    background-color #FFF
    box-shadow 0 2px 2px 0 rgba(0,0,0,.16),0 0 2px 0 rgba(0,0,0,.12)


.ui-btn
    font-weight 500
    font-size 14px
    line-height 18px
    color rgba(0,0,0,.87)
    text-transform uppercase
    color rgba(0,0,0,.87)
    background-color #FFF
    transition all .2s ease-in-out
    transition-property all
    transition-duration 0.2s
    transition-timing-function ease-in-out
    transition-delay initial
    display inline-block
    height 36px
    padding 0 26px
    margin-top 6px
    margin-bottom 6px
    border none
    border-radius 2px
    cursor pointer
    -ms-touch-action manipulation
    touch-action manipulation
    background-image none
    text-align center
    line-height 36px
    vertical-align middle
    white-space nowrap
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    font-size 14px
    position relative
    overflow hidden
    
    &:focus
    &:hover
        box-shadow 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2)

.ui-btn-primary 
    color #FFF
    background-color #2196F3

.ui-btn-primary
    &:active
    &:focus
    &:hover
        color #FFF
        background-color #39a1f4
        
.ui-btn-floating
.ui-btn-raised
    box-shadow 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2)

